@font-face {
  font-family: 'Proxima Nova';
  src: url('/PROXIMANOVA-REGULAR.TTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/PROXIMANOVA-SEMIBOLD.TTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/PROXIMANOVA-BOLD.TTF');
  font-weight: 600;
  font-style: bold;
}
